<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Student</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="navbar">
    Add Student
</div>
<div class="container">
    <div class="card">
      <h2 class="form-title">Add New Student</h2>
        <form action="/save" method="post">
            <label>Name</label>
            <input type="text" name="name" placeholder="Enter Student Name" required>
            <label>Department</label>
            <input type="text" name="department" placeholder="Enter Department" required>
            <label>Marks</label>
            <input type="number" name="marks" placeholder="Enter Marks" required>
            <br>
            <button type="submit" class="btn btn-add">Save Student</button>
            <a href="/" class="btn btn-edit">Back</a>
        </form>
    </div>
</div>
<footer class="footer">
    <p>
        Student Management System | Developed by Rajesh Kanna © 2026
    </p>
</footer>
</body>
</html>